# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*
*.exe
*.out
*.app

# CMake build directories
build/
cmake-build-debug/
cmake-build-release/
CMakeCache.txt
CMakeFiles/

# CMake temporary files
Testing/
Makefile
cmake_install.cmake
CTestTestfile.cmake

# Editor-specific files
.idea/
.vscode/
*.swp
*.suo
*.user
*.log

# System files
.DS_Store
Thumbs.db


.fake